<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Notification MS Regression Test">
    <listeners>
        <listener class-name="Listeners.ExtentReport"/>
        <listener class-name="Listeners.AllureListener"/>
        <listener class-name="Listeners.RetryListener"/>
    </listeners>

    <test name="Add SMS Template" verbose="10">
        <classes>
            <class name="Notifiction_MS.Add_SMS_Template"/>
        </classes>
    </test>

    <test name="Get All SMS Template" verbose="10">
        <classes>
            <class name="Notifiction_MS.Get_all_SMS_Template"/>
        </classes>
    </test>

    <test name="Send Static SMS Template" verbose="10">
        <classes>
            <class name="Notifiction_MS.Send_Static_SMS_Message"/>
        </classes>
    </test>

    <test name="Send Dynamic SMS Template" verbose="10">
        <classes>
            <class name="Notifiction_MS.Send_Dynamic_SMS"/>
        </classes>
    </test>

    <test name="Update SMS Template" verbose="10">
        <classes>
            <class name="Notifiction_MS.Update_SMS_Template"/>
        </classes>
    </test>
</suite>
