<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Notification MS Regression Test">
    <listeners>
        <listener class-name="Listeners.ExtentReport"/>
        <listener class-name="Listeners.AllureListener"/>
        <listener class-name="Listeners.RetryListener"/>
    </listeners>

    <test name="TELEMEDICINE_CONSULTATION_MS" verbose="10">
        <classes>
            <class name="TELEMEDICINE_CONSULTATION_MS.Get_All_Nps_Questions_GetRequest"/>
            <class name="TELEMEDICINE_CONSULTATION_MS.Approve_Dispute_POSTRequest"/>
            <class name="TELEMEDICINE_CONSULTATION_MS.Decline_Dispute_POSTRequest"/>
            <class name="TELEMEDICINE_CONSULTATION_MS.Enrollee_AcceptClose_Consultation_POSTRequest"/>
            <class name="TELEMEDICINE_CONSULTATION_MS.Enrollee_RejectClose_Consultation_POSTRequest"/>
            <class name="TELEMEDICINE_CONSULTATION_MS.View_Enrollee_Consultation_History_ByConsultationID_GetRequest"/>
            <class name="TELEMEDICINE_CONSULTATION_MS.View_Enrollee_Consultation_History_ByEnrolleeID_GetRequest"/>
        </classes>

    <test name="TELEMEDICINE_CONSULTATION_MS" verbose="10">


    </test>

</suite>
